<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>TITLE</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<!-- Stylesheets -->
	<link href="{{ static_url("common-css/bootstrap.css")}}" rel="stylesheet">

	<link href="{{ static_url("common-css/ionicons.css")}}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">


	<link href="{{ static_url("css/postsingalstyles.css")}}" rel="stylesheet">

	<link href="{{ static_url("css/responsivesingal.css")}}" rel="stylesheet">

</head>
<body style=" font-family: 'Comfortaa', cursive;" >

	

	

	<section class="post-area">
		<div class="container">

			<div class="row">

				<div class="col-lg-1 col-md-0"></div>
				<div class="col-lg-10 col-md-12">

					<div class="main-post">
						<a style="margin-top: 10%;" href="/home" class="btn btn-dark">BACK</a>

						<div class="post-top-area">

							

							<h3 class="title" style="margin-top: 10%;"><a href="#"><b>{{data[0][0][1]}}</b></a></h3>

							<div class="post-info">

								<div class="left-area">
									<a class="avatar" href="#"><img src="{{data[0][0][6]}}" alt="Profile Image"></a>
								</div>

								<div class="middle-area">
									<a class="name" href="#"><b>{{data[0][0][2]}}</b></a>
									<h6 class="date">on {{data[0][0][9]}}</h6>
								</div>

							</div><!-- post-info -->

							<p class="para">{{data[0][0][3]}}</p>

						</div><!-- post-top-area -->

						<div class="post-image"><img src="{{data[0][0][6]}}" alt="Blog Image"></div>

						<div class="post-bottom-area">

							<ul class="tags">
								<li><a href="#">{{data[0][0][4]}}</a></li>
								
							</ul>

							<div class="post-icons-area">
								<ul class="post-icons">
									<li><a ><i class="ion-heart"></i>{{data[0][0][7]}}</a></li>
									<li><a ><i class="far fa-thumbs-down"></i>{{data[0][0][8]}}</a></li>
									
								</ul>

								
							</div>

						

						</div><!-- post-bottom-area -->

					</div><!-- main-post -->
				</div><!-- col-lg-8 col-md-12 -->
			</div><!-- row -->
		</div><!-- container -->
	</section><!-- post-area -->

	<section class="comment-section center-text">
		<div class="container">
			<h4><b>POST COMMENT</b></h4>
			<div class="row">

				<div class="col-lg-2 col-md-0"></div>

				<div class="col-lg-8 col-md-12" style="height: 300px; overflow-y: scroll;">
					
					<div class="commnets-area text-left">
						{% block body %}
             			{% for entry in data[1] %}

						<div class="comment">

							<div class="post-info">

								<div class="left-area">
									<a class="avatar" ><img src="https://img.pngio.com/-blog-png-1276_723.png" alt="Profile Image"></a>
								</div>

								<div class="middle-area">
									<a class="name" ><b>{{entry[3]}}</b></a>
									<h6 class="date">{{entry[4]}}</h6>
								</div>

								
							</div><!-- post-info -->

							<p>{{entry[2]}}</p>

						</div>

						{% end %}
						{% end %}
					</div><!-- commnets-area -->

					


				</div><!-- col-lg-8 col-md-12 -->

			</div><!-- row -->

		</div><!-- container -->
	</section>

	<!-- SCIPTS -->

	<script src="common-js/jquery-3.1.1.min.js"></script>

	<script src="common-js/tether.min.js"></script>

	<script src="common-js/bootstrap.js"></script>

	<script src="common-js/scripts.js"></script>

</body>
</html>
